body{
 margin: 0px;
 height: 100vh;
 display: grid;
 background: rgb(240, 131, 149);
 box-sizing:border-box;
 font-family: 'Indie Flower';
 font-size: 1rem;
 }

/* #cs-background{
    background: linear-gradient(118deg,rgb(235, 104, 126), whitesmoke, rgb(235, 104, 126));
    background-size: 600% 600%;

    -webkit-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
} */


.title-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#title{
    text-align: center;
    font-size: 9rem;
    color:  rgb(14, 1, 3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .btn-group{
    width: 100%;
    padding: 10px 24px;
    border: 1px solid gray;
    cursor: pointer;
    float: left;
    margin-bottom: 5px;
}

/*
.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
} */

#order,
#build,
#contact{
    font-size: 2rem;
    width: 32.4%;
    
}

a:link, a:visited{
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    float: left;

    background: linear-gradient(118deg,rgb(235, 104, 126), whitesmoke, rgb(235, 104, 126));
    background-size: 600% 600%;
    -webkit-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}

a:after {
    content: "";
    clear: both;
    display: table;
  }

a:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }

a:hover{
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 900px) {
    img {
    width: fit-content;
    height: 390px;
    }
  }

@media screen and (max-width: 1300px) {
    .btn-group {
    display: flex;
    width: 100%;
    }
  }